.glowna-container {
    padding: 70px;
}

.szukaj {
    padding: 30px;
    text-align: center;
}

.main-container {
    padding: 70px;
}

.img-fluid {
    padding: 30px;
}

.wyniki-container {
    padding: 70px;
}

.pager {
    text-align: center;
}

