<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="file://{{ project_path }}\static\{{strona}}.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- NAGŁÓWEK -->
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Znajdź danie</h1>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-success">
</nav>
{% block body %}

{% endblock %}
<!-- STOPKA -->
<div class="jumbotron text-center" style="margin-bottom:0">
    <h6>Projekt z IO</h6>
</div>
{% block javascript %}
{% endblock %}
</body>
</html>