{% extends "base.html" %}
{% block body %}
    <div class="container glowna-container">
        <div class="row">
            <div class="col-md-8">
                <h3>Jakich składników chcesz użyć w przepisie? </h3>
                <div>
                    <form>
                        <div style="padding: 10px">
                            <input list="lista" id="lista-skladnikow" name="lista-skladnikow" />
                            <datalist id="lista">
                                {% for skladnik in lista %}
                                <option value="{{skladnik}}">
                                    {% endfor %}
                            </datalist>
                            <button type="button" class="btn btn-success">+</button>
                            <button type="button" class="btn btn-success">-</button>
                        </div>
                        <div style="padding: 10px">
                        <input list="lista" id="lista-skladnikow2" name="lista-skladnikow2" />
                            <datalist id="lista2">
                                {% for skladnik in lista %}
                                <option value="{{skladnik}}">
                                {% endfor %}
                            </datalist>
                            <button type="button" class="btn btn-success">+</button>
                            <button type="button" class="btn btn-success">-</button>
                        </div>
                        <div style="padding: 10px">
                            <input list="lista" id="lista-skladnikow3" name="lista-skladnikow3" />
                            <datalist id="lista3">
                                {% for skladnik in lista %}
                                <option value="{{skladnik}}">
                                    {% endfor %}
                            </datalist>
                            <button type="button" class="btn btn-success">+</button>
                            <button type="button" class="btn btn-success">-</button>
                        </div>
                        <div style="padding: 10px">
                            <input list="lista" id="lista-skladnikow4" name="lista-skladnikow4" />
                            <datalist id="lista4">
                                {% for skladnik in lista %}
                                <option value="{{skladnik}}">
                                    {% endfor %}
                            </datalist>
                            <button type="button" class="btn btn-success">+</button>
                            <button type="button" class="btn btn-success">-</button>
                        </div>
                        <div style="padding: 10px">
                            <input list="lista" id="lista-skladnikow5" name="lista-skladnikow5" />
                            <datalist id="lista5">
                                {% for skladnik in lista %}
                                <option value="{{skladnik}}">
                                    {% endfor %}
                            </datalist>
                            <button type="button" class="btn btn-success">+</button>
                            <button type="button" class="btn btn-success">-</button>
                        </div>
                        <div style="padding: 10px">
                            <input list="lista" id="lista-skladnikow6" name="lista-skladnikow6" />
                            <datalist id="lista6">
                                {% for skladnik in lista %}
                                <option value="{{skladnik}}">
                                    {% endfor %}
                            </datalist>
                            <button type="button" class="btn btn-success">+</button>
                            <button type="button" class="btn btn-success">-</button>
                        </div>
                    </form>
                </div>
            <div class="szukaj">
                <a href="#" class="btn btn-success btn-lg" role="button">Szukaj</a>
            </div>
            </div>
            <div class="col-md-4">
                <h5>Ostatnio czytane:</h5>
                <ul>
                    {% for przepis in przepisy %}
                    <li><a href="#">{{ przepis.nazwa }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}