{% extends "base.html" %}
{% block body %}
    <div class="container glowna-container">
        <div class="row">
            <div class="col-md-8">
                <h3>Jakich składników chcesz użyć w przepisie? </h3>
                <div>
                    <form>
                        <label for="lista-skladnikow">Wybierz skladniki:</label>
                        <input list="lista" id="lista-skladnikow" name="lista-skladników" />

                            <datalist id="lista">
                                {% for skladnik in lista %}
                                <option value="{{skladnik}}">
                                {% endfor %}
                            </datalist>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Ostatnio czytane:</h5>
                <ul>
                    {% for przepis in przepisy %}
                    <li><a href="#">{{ przepis.nazwa }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}