{% extends "base.html" %}
{% block body %}
    <div class="container glowna-container">
        <div class="row">
            <div class="col-md-8">
                {% if ingredientNotFound %}
                    <div class="alert alert-danger" role="alert">
                        Nie odnaleziono składnika: {{ ingredientNotFound }}.
                    </div>
                {% endif %}
                <h3>Jakich składników chcesz użyć w przepisie? </h3>
                <div>Plus oznacza, że chcesz ten składnik, minus oznacza, że nie.</div>
                <div>
                    <form method="post" action="{% url "recipe_list" %}">
                        {% csrf_token %}
                        <datalist id="lista">
                            {% for skladnik in lista %}
                                <option value="{{ skladnik }}">
                            {% endfor %}
                        </datalist>
                        {% for i in '012345'|make_list %}
                            <div style="padding: 10px">
                                <input list="lista" id="lista-skladnikow" name="lista-skladnikow{{ i }}"/>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                           name="isPositive{{ i }}"
                                           id="inlineRadio1" value="on" checked>
                                    <label class="form-check-label" for="inlineRadio1">+</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                           name="isPositive{{ i }}"
                                           id="inlineRadio2" value="off">
                                    <label class="form-check-label" for="inlineRadio2">-</label>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="szukaj">
                            <button type="submit" class="btn btn-success btn-lg">Szukaj</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Ostatnio czytane:</h5>
                {% if przepisy %}
                    <ul>
                        {% for przepis in przepisy %}
                            <li><a href="#">{{ przepis.nazwa }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div>Nie odwiedziłeś jeszcze żadnych przepisów</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}