{% extends "base.html" %}
{% block body %}
    <div class="container wyniki-container">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    {% for recipe in recipes.object_list %}
                        <li><a href="{% url 'recipe_detail' recipe_id=recipe.id %}">{{ recipe.recipe_title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Ostatnio czytane:</h5>
                <ul>
                    {#                    {% for przepis in przepisy %}#}
                    {#                        <li><a href="#">{{ przepis.nazwa }}</a></li>#}
                    {#                    {% endfor %}#}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% if recipes.has_previous %}
                    <div class="pager">
                        <a href="?page={{ recipes.previous_page_number }}" class="btn btn-success" role="button">Poprzednia
                            strona</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ recipes.number }} / {{ recipes.end_index }}
            </div>
            <div class="col-md-4">
                {% if recipes.has_next %}
                    <div class="pager">
                        <a href="?page={{ recipes.next_page_number }}" class="btn btn-success" role="button">Następna
                            strona</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}