{% extends "base.html" %}
{% block javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="{{ project_path }}\static\js\przepis.js"></script>
    <script src="{{ project_path }}\static\js\cookies.js"></script>
    <script src="{{ project_path }}\static\js\jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ project_path }}\static\js\jquery.rateit.js\jquery.rateit.min.js"></script>
    <script type="text/javascript" src="{{ project_path }}\static\js\jquery.rateit.js"></script>
{% endblock %}

{% block body %}
    <div class="container wyniki-container">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    {% for przepis in przepisy.object_list %}
                        <li><a href="{% url 'recipe_detail' recipeid=przepis.id %}">{{ przepis.nazwa_przepisu }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Ostatnio czytane:</h5>
                <ul>
                    {#                    {% for przepis in przepisy %}#}
                    {#                        <li><a href="#">{{ przepis.nazwa }}</a></li>#}
                    {#                    {% endfor %}#}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% if przepisy.has_previous %}
                    <div class="pager">
                        <a href="?page={{ przepisy.previous_page_number }}" class="btn btn-success" role="button">Poprzednia
                            strona</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ przepisy.number }} / {{ przepisy.end_index }}
            </div>
            <div class="col-md-4">
                {% if przepisy.has_next %}
                    <div class="pager">
                        <a href="?page={{ przepisy.next_page_number }}" class="btn btn-success" role="button">Następna
                            strona</a>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}