{% extends "base.html" %}
{% block body %}
    <div class="container wyniki-container">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    {% for przepis in przepisy %}
                    <li><a href="#">{{ przepis.nazwa }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Ostatnio czytane:</h5>
                <ul>
                    {% for przepis in przepisy %}
                    <li><a href="#">{{ przepis.nazwa }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pager">
                    <a href="#" class="btn btn-success" role="button">Poprzednia strona</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pager">
                    <a href="#" class="btn btn-success" role="button">Następna strona</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}